html {
    margin: 0;
}

body {
    margin: 0;
}

nav {
    background: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    transition: 0.5s ease-in-out;
}

nav a:hover {
    color: red;
}

span {
    display: block;
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}

#grey {
    background: grey;
}

#white {
    background: white;
}

#blue {
    background: blue;
}

#yellow {
    background: yellow;
}
